<?xml version="1.0"?>
<launch>

  <arg name="first"  default="robot1"/>
  <arg name="second" default="robot2"/>
  <!--arg name="third" default="wood"/-->

  <arg name="first_x_pos" default="-6.0"/>
  <arg name="first_y_pos" default="8.0"/>
  <arg name="first_z_pos" default="0.0"/>
  <arg name="first_yaw"   default="0"/>

  <arg name="second_x_pos" default="-7.2"/>
  <arg name="second_y_pos" default="8.0"/>
  <arg name="second_z_pos" default="0.0"/>
  <arg name="second_yaw"   default="0"/>

  <!--arg name="third_x_pos" default=" -6.5"/>
  <arg name="third_y_pos" default="-0.6"/>
  <arg name="third_z_pos" default=" 0.6"/>
  <arg name="third_yaw"   default=" 1.57"/-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find human_robot_transport)/worlds/human_robot_transport.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <group ns = "$(arg first)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find human_robot_transport)/urdf/omni_gazebo1.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="100.0" />
      <param name="tf_prefix" value="$(arg first)" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first) -x $(arg first_x_pos) -y $(arg first_y_pos) -z $(arg first_z_pos) -Y $(arg first_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg second)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find human_robot_transport)/urdf/omni_gazebo2.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="100.0" />
      <param name="tf_prefix" value="$(arg second)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second) -x $(arg second_x_pos) -y $(arg second_y_pos) -z $(arg second_z_pos) -Y $(arg second_yaw) -param robot_description" />
  </group>
  
  <!--group ns = "$(arg third)">
    <param name="robot_description" command="$(find xacro)/xacro inorder $(find human_robot_transport)/urdf/wood.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg third)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg third) -x $(arg third_x_pos) -y $(arg third_y_pos) -z $(arg third_z_pos) -Y $(arg third_yaw) -param robot_description" />
  </group-->

</launch>
