<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="NewWoodBoard">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.681E-05 -2.7756E-17 0.0049997"
        rpy="0 0 0" />
      <mass
        value="0.30602" />
      <inertia
        ixx="0.00065587"
        ixy="-3.9319E-18"
        ixz="-5.7294E-08"
        iyy="0.036548"
        iyz="1.9314E-21"
        izz="0.037199" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Forward_Link">
    <inertial>
      <origin
        xyz="-2.2204E-16 0 0.0155"
        rpy="0 0 0" />
      <mass
        value="0.65823" />
      <inertia
        ixx="0.00046383"
        ixy="-3.3261E-20"
        ixz="1.0669E-21"
        iyy="0.00046383"
        iyz="1.9013E-21"
        izz="0.00082234" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/Forward_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/Forward_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Forward"
    type="fixed">
    <origin
      xyz="0.47 0 -0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Forward_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Backward_Link">
    <inertial>
      <origin
        xyz="1.1102E-16 -2.7756E-17 0.015496"
        rpy="0 0 0" />
      <mass
        value="0.44352" />
      <inertia
        ixx="0.00038415"
        ixy="-4.3352E-20"
        ixz="-1.1369E-22"
        iyy="0.00015462"
        iyz="2.8843E-21"
        izz="0.00047707" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/Backward_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NewWoodBoard/meshes/Backward_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Backward"
    type="fixed">
    <origin
      xyz="-0.47 0 -0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Backward_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>