<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="WoodBoard">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.22044604925031E-16 -2.77555756156289E-17 0.00499947578364656"
        rpy="0 0 0" />
      <mass
        value="0.383523396817787" />
      <inertia
        ixx="0.00128221019392175"
        ixy="-4.41812284633652E-18"
        ixz="-2.98005262349321E-22"
        iyy="0.0459331939878034"
        iyz="-1.31846255709086E-21"
        izz="0.0472090113211254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="2.22044604925031E-16 0 0.0075"
        rpy="0 0 0" />
      <mass
        value="0.0134522551294848" />
      <inertia
        ixx="1.08674993670736E-05"
        ixy="-1.73428752071014E-21"
        ixz="-5.69902490195764E-23"
        iyy="4.00049558803496E-06"
        iyz="-9.92477171920319E-23"
        izz="1.43635353877529E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FrontBlock"
    type="fixed">
    <origin
      xyz="0.57 0 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0 -2.77555756156289E-17 0.0075"
        rpy="0 0 0" />
      <mass
        value="0.0134522551294849" />
      <inertia
        ixx="1.08674993670737E-05"
        ixy="-1.58954005217892E-21"
        ixz="-1.12326241255939E-22"
        iyy="4.000495588035E-06"
        iyz="-7.3748891969516E-23"
        izz="1.4363535387753E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://WoodBoard/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BackBlock"
    type="fixed">
    <origin
      xyz="-0.57 0 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>